.additional-product-card {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 14px;
	align-items: baseline;

	@media #{$tablet-only} {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 60px;
		padding: 27px 38px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 80px;
		padding: 26px 0;
	}

	@media #{$mobile-only} {
		padding: 13px 0;
	}
}

.additional-product-card__title {
	margin: 0;
	font-size: 16px;
	line-height: 16px;
	color: #222222;
	text-transform: uppercase;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 20px;
	}
}

.additional-product-card__description {
	display: flex;
	justify-content: space-between;
}

.additional-product-card__quantity {
	@media #{$tablet-only} {
		margin-left: auto;
	}
}

.additional-product-card__price {
	@media #{$tablet-only} {
		margin-left: 49px;
	}

	@media #{$desktop-only} {
		width: 100px;
		margin-right: -100px;
	}
}

.additional-product-card__button {
	@media #{$tablet-only} {
		grid-column: span 2;
	}
}
