//text
.additional-product {
	display: grid;
	grid-template-columns: repeat(var(--column-count, 1), 1fr);
	row-gap: 10px;

	@media #{$not-mobile} {
		--column-count: 2;
		gap: 60px;
	}

	@media #{$desktop-only} {
		--column-count: 4;
		column-gap: 80px;
		row-gap: 63px;
	}
}

.additional-product__list {
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		grid-column: span 2;
	}

	@media #{$desktop-only} {
		grid-column: span 3;
	}
}

.additional-product__item {
	&::marker {
		color: transparent;
	}
}

.additional-product__title {
	margin-bottom: 0;

	@media #{$not-mobile} {
		grid-column: span 2;
	}

	@media #{$desktop-only} {
		grid-column: span 3;
	}
}
