.additional-product-card {
	display: grid;
	grid-template-columns: 1fr;
	align-items: baseline;

	@media #{$mobile-only} {
		row-gap: 12px;
	}

	@media #{$tablet-only} {
		grid-template-columns: 1fr 228px;
		column-gap: 60px;
		padding: 27px 38px;
		row-gap: 22px;
		font-size: 16px;
		line-height: 20px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 80px;
		align-content: center;
		font-size: 16px;
		line-height: 20px;
	}
}

.additional-product-card__title {
	margin: 0;
	font-size: 16px;
	line-height: 16px;
	color: #222222;
	text-transform: uppercase;
	font-family: var(--accent-font);
	font-weight: 400;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 20px;
	}
}

.additional-product-card__description {
	display: flex;
	justify-content: space-between;
}

.additional-product-card__quantity {
	@media #{$tablet-only} {
		margin-left: auto;

		&--position {
			margin-right: 9px;
		}
	}
}

.additional-product-card__price {
	@media #{$tablet-only} {
		margin-left: 49px;
		margin-right: 4px;
	}

	@media #{$desktop-only} {
		width: 100px;
		margin-right: -100px;
	}
}

.additional-product-card__button {
	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
	}

	@media #{$tablet-only} {
		grid-column: span 2;
	}

	@media #{$desktop-only} {
		padding: 9px 26px 11px;
	}
}
