
.additional-product {
	display: grid;
	grid-template-columns: repeat(var(--column-count, 1), 1fr);
	row-gap: 36px;
	margin-bottom: 36px;

	@media #{$not-mobile} {
		--column-count: 2;
		gap: 60px;
		row-gap: 63px;
		margin-bottom: 76px;
	}

	@media #{$desktop-only} {
		--column-count: 4;
		gap: 80px;
		margin-bottom: 86px;
	}
}

.additional-product__list {
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		grid-column: span 2;
	}

	@media #{$desktop-only} {
		grid-column: span 3;
	}
}

.additional-product__item {
	&::marker {
		color: transparent;
	}
	border-top: solid 1px #cdcdcd;

	@media #{$tablet-only} {
		border: solid 1px #cdcdcd;
		border-bottom: none;
	}
}

.additional-product__item:last-child {
	border-bottom: solid 1px #cdcdcd;
}

.additional-product__title {
	margin-bottom: 36px;
	font-weight: 400;
	margin-top: 50px;

	@media #{$not-mobile} {
		grid-column: span 2;
		margin-top: 68px;
		margin-bottom: 13px;
	}

	@media #{$desktop-only} {
		grid-column: span 3;
	}
}
