.button {
	font-family: var(--accent-font);
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: var(--accent-color);

	&--color_basic {
		--accent-color: #68b738;
	}

	&--color_gray {
		--accent-color: #f2f2f2;
		color: #444444;
	}

	&--main {
		@media #{$not-mobile} {
			font-size: 20px;
			line-height: 20px;
		}
	}
}
