.button {

	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: var(--accent-color);

	&--basic {
		--accent-color: #68b738;
	}

	&--gray {
		--accent-color: #f2f2f2;
		color: #444444;
	}
}
