.catalog__list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(var(--column-count, 1), 1fr);
	row-gap: 10px;

	@media #{$not-mobile} {
		--column-count: 2;
		gap: 60px;
	}

	@media #{$desktop-only} {
		--column-count: 4;
		column-gap: 80px;
		row-gap: 63px;
	}
}

.catalog__item {
	&::marker {
		color: transparent;
	}

	@media #{$mobile-only} {
		&::before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 1px;
			right: 0;
			background-color: var(--line-color, #ebebeb);
			box-shadow: 100vw 0 0 0 var(--line-color);
		}
	}
}
