
.copyright {
	justify-self: stretch;
}

.copyright__link {
	color: #444444;
	text-decoration: none;
	font-size: 16px;
	line-height: 19px;
	display: flex;

	&:hover {
		--color: hsl(var(--accent-hsl));
	}

	&:focus-visible {
		--color: hsl(var(--accent-hsl));
	}

	&:active {
		--color: hsl(var(--accent-hsl) / 0.3);
		color: hsl(0 0% 27% / 0.3);
	}


	@media #{$mobile-only} {
		justify-content: space-between;
	}

	&::after {
		display: block;
		content: "";
		width: 27px;
		height: 34px;
		mask: url("../../icons/stack.svg#htmlacademy") no-repeat center / cover;
		background: var(--color,
		hsl(0 0% 40%));
	}
}
