.form-comment {
	display: flex;
	flex-direction: column;
}

.form-comment__title {
	@media #{$mobile-only} {
		margin-bottom: 34px;
	}

	@media #{$not-mobile} {
		margin-bottom: 76px;
	}
}

.form-comment__field {
	box-sizing: border-box;
	padding: 9px 12px 9px 15px;
	min-height: 132px;

	@media #{$not-mobile} {
		min-height: 153px;
		padding: 10px 12px 10px 19px;
	}
}
