
.form-additions__list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 19px;

	@media #{$tablet-only} {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 60px;
		row-gap: 37px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 80px;
	}
}

.form-additions__item {
	&::marker {
		color: transparent;
	}
}

.form-additions__title {
	@media #{$mobile-only} {
		margin-bottom: 34px;
	}

	@media #{$tablet-only} {
		margin-bottom: 47px;
	}

	@media #{$desktop-only} {
		margin-bottom: 57px;
	}
}
