
.form-diet__list {
	display: flex;
	flex-direction: column;
	row-gap: 13px;
	margin: 0;
	padding: 0;

	@media #{$mobile-only} {
		padding-bottom: 22px;
	}
}

.form-diet__item {
	&::marker {
		color: transparent;
	}
}
