.hero {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		background:
			linear-gradient(
				rgb(104 183 56/ 0.85),
				rgb(104 183 56/ 0.85)
			),
			var(--bg-image) no-repeat center/cover,
			linear-gradient(
				to right,
				#505155,
				#444347
			);
	}

	@include bg-image("hero-background");
}
