.logo--header {
	min-height: 65px;
	display: flex;
	align-items: center;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}
}

.logo__text--header {
	@media #{$mobile-only} {
		margin: 0 auto;
	}
}

.logo__footer {
	&:hover,
	&:focus-visible {
		fill: hsl(0 0% 24% / 1);
	}

	&:active {
		fill: hsl(0 0% 24% / 0.3);
	}
}
