.logo__header {
	min-height: 65px;
	display: flex;
	align-items: center;
}

.logo__text--header {
	@media #{$mobile-only} {
		margin: 0 auto;
	}
}

.logo__footer {
	&:hover {
		color: hsl(0 0% 24% / 1);
	}

	&:focus,
	&:active {
		color: hsl(0 0% 24% / 0.3);
	}
}
