
.nutrition-programs {
	display: grid;
	gap: 20px;
	text-align: center;

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 1fr);
		gap: 80px;
	}
}

.nutrition-programs__title {
	color: #000000;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	margin: 10px auto 29px;
}

.nutrition-programs__link {
	margin-right: auto;
	padding: 10px;
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
}

.nutrition-programs__item {
	position: relative;
	display: inherit;
	flex-direction: column;
	background-color: #f2f2f2;
	padding: 10px;
}
