
.nutrition-programs {
	display: grid;
	gap: 20px;
	text-align: center;

	@media #{$mobile-only} {
		margin-block: 20px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 1fr);
		gap: 80px;
		margin-top: 82px;
		margin-bottom: 71px;
	}
}

.nutrition-programs__title {
	color: #000000;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	margin: 10px auto 29px;
}

.nutrition-programs__link {
	min-width: 140px;
	margin-right: auto;
	margin-top: 31px;
	padding: 10px;
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: var(--accent-font);
	position: relative;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}

	@media #{$tablet-only} {
		margin-top: 41px;
	}

	@media #{$desktop-only} {
		margin-top: 27px;
	}

	&:active {
		--color: hsl(0 0% 0% / 0.3);
		color: hsl(0 0% 0% / 0.3);
	}

	&::after {
		content: "";
		bottom: calc(50% - 13%);
		right: -15px;
		position: absolute;
		width: 32px;
		height: 12px;
		mask: url("../../icons/stack.svg#arrow") no-repeat center / 100%;
		background: var(--color, hsl(0 0% 0%));

		@media #{$not-mobile} {
			right: -25px;
		}
	}
}

.nutrition-programs__item {
	position: relative;
	display: inherit;
	flex-direction: column;
	background-color: #f2f2f2;
	padding: 20px;

	&--slim {
		--icon: url("../../icons/stack.svg#cat_sitting");
	}

	&--pro {
		--icon: url("../../icons/stack.svg#cat_walking");
	}

	@media #{not-mobile} {
		padding: 50px;
	}

	@media #{$mobile-only} {
		&::before {
			content: "";
			position: absolute;
			width: calc(100% - 20px - 20px);
			height: 1px;
			bottom: 57px;
			right: 20px;
			background-color: #d9d9d9;
		}
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 70px;
		height: 60px;
		background-image: var(--icon);
		background-repeat: no-repeat;
		background-position: center;
	}
}
