.product-card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.product-card__image {
	order: -1;
}

.product-card__title {
	order: 1;
}

.product-card__characteristic-wrapper {
	order: 2;
}

.product-card__characteristic {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.product-card__button {
	background-color: var(--accent-color);
	color: #ffffff;
	text-decoration: none;

	order: 3;
	grid-column: span 2;
}
