.questionnaire {
	@media #{$tablet-only} {
		margin-left: 70px;
	}
}

.questionnaire__title {
	margin-top: 27px;
	margin-bottom: 34px;

	@media #{$tablet-only} {
		margin-top: 65px;
		margin-bottom: 54px;
	}

	@media #{$desktop-only} {
		margin-top: 73px;
		margin-bottom: 56px;
	}
}

.questionnaire__slogan {
	color: #000000;
	font-family: var(--accent-font);
	margin-bottom: 66px;
	text-transform: uppercase;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}

	@media #{$mobile-only} {
		margin-bottom: 39px;
	}
}

.questionnaire__submit {
	border: none;
	padding: 13px 10px;
	line-height: 20px;
	width: 100%;

	@media #{$mobile-only} {
		margin-top: 8px;
		font-size: 16px;
		padding: 10px;
	}

	@media #{$not-mobile} {
		min-height: 52px;
		margin-top: -12px;
	}

	@media #{$tablet-only} {
		width: 282px;
	}

	@media #{$desktop-only} {
		width: 565px;
	}
}

.questionnaire__footnote {
	font-family: var(--main-font);
	font-size: 14px;
	line-height: 16px;
	color: #000000;

	@media #{$not-mobile} {
		font-size: 16px;
		margin-top: -20px;
	}
}
