<footer class="page__footer">
	<section class="location">
		<h2 class="visually-hidden">Адрес магазина.</h2>
		<p class="location__subtitle">приглашаем к сотрудничеству дилеров!</p>
		<span>ул. Большая
			Конюшенная, д. 19/8
			Санкт-Петербург</span>
		<img class="location__interactive-map" src="https://placekitten.com/480/360" width="100" height="100" alt="Интерактивная карта с адресом магазина.">
	</section>
	<section class="contacts">

		<h2 class="visually-hidden">Контакты.</h2>
		<a class="logo" href="../index.html">
			<img class="logo__text" src="https://placekitten.com/480/360" width="20" height="20" alt="Логотип Cat Energy.">
		</a>
		<ul class="social-list">
			<li class="social-list__item social-list__item--vkontante social-item">
				<a class="social-button" href="https://vk.com/htmlacademy">
					<span class="visually-hidden">Vkontakte.</span>
				</a>
			</li>
			<li class="social-list__item social-list__item--youtube social-item">
				<a class="social-button" href="https://vk.com/htmlacademy">
					<span class="visually-hidden">Youtube.</span>
				</a>
			</li>
			<li class="social-list__item social-list__item--telegram social-item">
				<a class="social-button" href="https://vk.com/htmlacademy">
					<span class="visually-hidden">Telegram.</span>
				</a>
			</li>
		</ul>
		<div class="copyright">
			<b class="copyright__text">Разработано:</b>
			<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">HTML Academy</a>
		</div>
	</section>

</footer>
