<footer class="page__footer">
	<section class="location">
		<h2 class="visually-hidden">Адрес магазина</h2>
		<div class="location__cooperation">
			<p>приглашаем к сотрудничеству дилеров!</p>
		</div>
		<address class="location__address">ул. Большая Конюшенная, д. 19/8 Санкт-Петербург</address>
		{% include "picture.twig" with {name: "map", class: "location__interactive-map", alt: "Интерактивная карта с адресом магазина."} %}
	</section>
	<section class="contacts page__leveler">
		<h2 class="visually-hidden">Контакты</h2>
		<a class="logo" href="../index.html">
			<svg width="128" height="24" role="img" aria-label="Логотип Cat Energy ведет на главную страницу сайта">
				<use href="./img/logo.svg#brand-name-footer" aria-hidden="true"></use>
			</svg>
		</a>
		<ul class="social-list">
			<li class="social-list__item social-list__item--vkontante social-item">
				<a class="social-button" href="https://vk.com/htmlacademy">
					<span class="visually-hidden">Vkontakte</span>
				</a>
			</li>
			<li class="social-list__item social-list__item--youtube social-item">
				<a class="social-button" href="https://vk.com/htmlacademy">
					<span class="visually-hidden">Youtube</span>
				</a>
			</li>
			<li class="social-list__item social-list__item--telegram social-item">
				<a class="social-button" href="https://vk.com/htmlacademy">
					<span class="visually-hidden">Telegram</span>
				</a>
			</li>
		</ul>
		<div class="copyright">
			<b class="copyright__text visually-hidden">Разработано:</b>
			<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">HTML Academy</a>
		</div>
	</section>

</footer>
