<header class="page__header">
	<div class="page__leveler header-container">
		<a class="logo logo--header" href="./index.html">
			<div class="logo__wrapper">
				<picture>
					<source media="(min-width:1150px)" srcset="./img/logo.svg#logo-desktop" width="70" height="60">
					<source media="(min-width:768px)" srcset="./img/logo.svg#logo-tablet" width="60" height="50">
					<img class="logo__image" src="./img/logo.svg#logo" width="34" height="38" alt="Фирменный знак.">
				</picture>
			</div>
			<img class=" logo__text logo__text--header" src="./img/logo.svg#brand-name-header" width="110" height="18" alt="Логотип Cat Energy.">
		</a>
		<nav class="navigation navigation--opened navigation--nojs">
			<button class="navigation__toggle" type="button">
				<span class="visually-hidden">Открыть меню</span>
			</button>
			<div class="navigation__wrapper">
				<ul class="navigation__list">
					<li class="navigation__item">
						<a class="navigation__link" href="./index.html" aria-current="page">главная</a>
					</li>
					<li class="navigation__item">
						<a class="navigation__link" href="./catalog.html">каталог продукции</a>
					</li>
					<li class="navigation__item">
						<a class="navigation__link" href="./form.html">подбор программы</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
