<header class="page__header">
	<a class="logo" href="./index.html">
		<picture>
			<source media="(min-width:1150px)" srcset="./img/logo.svg#logo-desktop" width="70" height="60">
			<source media="(min-width:768px)" srcset="./img/logo.svg#logo-tablet" width="60" height="50">
			<img class="logo__image" src="./img/logo.svg#logo" width="34" height="38" alt="Фирменный знак.">
		</picture>
		<img class="logo__text" src="./img/logo.svg#brand-name-header" width="118" height="22" alt="Логотип Cat Energy.">
	</a>
	<nav class="navigation">
		<button class="navigation__toggle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<div class="navigation__wrapper">
			<ul class="navigation__list">
				<li class="navigation__item">
					<a href="./index.html" aria-current="page">главная</a>
				</li>
				<li class="navigation__item">
					<a href="./catalog.html">каталог продукции</a>
				</li>
				<li class="navigation__item">
					<a href="./form.html">подбор программы</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
