{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}

<!-- ⚠️ Проверяющему ⚠️ -->

<!-- 🔷 Валидация и проверка БЭМ-классов включены в `npm run lint` 🔷 -->

<!-- 🔷 Webp генерируется в прод-сборке. Проверить — `npm run preview` 🔷 -->

<main class="catalog-container">
	<section class="catalog page__leveler">
		<h1 class="catalog__title heading heading--lvl_1">Каталог продукции</h1>
		<ul class="catalog__list">
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy PRO 500 г</h3>
				<div class="product-card__image-wrapper product-card__image-wrapper--small product-card__image-wrapper--small_position">
					{% include "./templates/picture.twig" with {name: "products/pro-chicken500", class: "product-card__image", alt: "Упаковка корма Cat Energy в орнажевых оттенках со вкусом курицы."} %}
				</div>
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<div class="characteristic-list__description">
							<dt>Масса</dt>
							<dd class="">500 г</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Вкус</dt>
							<dd>Курица</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Цена</dt>
							<dd>700 ₽</dd>
						</div>
					</dl>
				</div>
				<a class="product-card__button button button--color_basic" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title product-card__title--big">Cat Energy PRO 1000 г</h3>
				<div class="product-card__image-wrapper">
					{% include "./templates/picture.twig" with {name: "products/pro-chicken1000", class: "product-card__image", alt: "Большая упаковка корма Cat Energy в орнажевых оттенках со вкусом курицы."} %}
				</div>
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<div class="characteristic-list__description">
							<dt>Масса</dt>
							<dd>1000 г</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Вкус</dt>
							<dd>Курица</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Цена</dt>
							<dd>1000 ₽</dd>
						</div>
					</dl>
				</div>
				<a class="product-card__button button button--color_basic" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy PRO 500 г</h3>
				<div class="product-card__image-wrapper product-card__image-wrapper--small">
					{% include "./templates/picture.twig" with {name: "products/pro-fish500", class: "product-card__image", alt: "Упаковка корма Cat Energy в зеленых оттенках со вкусом рыбы."} %}
				</div>
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<div class="characteristic-list__description">
							<dt>Масса</dt>
							<dd>500 г</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Вкус</dt>
							<dd>Рыба</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Цена</dt>
							<dd>700 ₽</dd>
						</div>
					</dl>
				</div>
				<a class="product-card__button button button--color_basic" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title product-card__title--big">Cat Energy PRO 1000 г</h3>
				<div class="product-card__image-wrapper">
					{% include "./templates/picture.twig" with {name: "products/pro-fish1000", class: "product-card__image", alt: "Большая упаковка корма Cat Energy в зеленых оттенках со вкусом рыбы."} %}
				</div>
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<div class="characteristic-list__description">
							<dt>Масса</dt>
							<dd>1000 г</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Вкус</dt>
							<dd>Рыба</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Цена</dt>
							<dd>1000 ₽</dd>
						</div>
					</dl>
				</div>
				<a class="product-card__button button button--color_basic" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy SLIM 500 г</h3>
				<div class="product-card__image-wrapper product-card__image-wrapper--small">
					{% include "./templates/picture.twig" with {name: "products/slim-buckwheat500", class: "product-card__image", alt: "Упаковка корма Cat Energy со вкусом гречки в голубых оттенках."} %}
				</div>
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<div class="characteristic-list__description">
							<dt>Масса</dt>
							<dd>500 г</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Вкус</dt>
							<dd>Гречка</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Цена</dt>
							<dd>400 ₽</dd>
						</div>
					</dl>
				</div>
				<a class="product-card__button button button--color_basic" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title product-card__title--big">Cat Energy SLIM 1000 г</h3>
				<div class="product-card__image-wrapper">
					{% include "./templates/picture.twig" with {name: "products/slim-buckwheat1000", class: "product-card__image", alt: "Большая упаковка корма Cat Energy в голубых оттенках со вкусом гречки."} %}
				</div>
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<div class="characteristic-list__description">
							<dt>Масса</dt>
							<dd>1000 г</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Вкус</dt>
							<dd>Гречка</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Цена</dt>
							<dd>700 ₽</dd>
						</div>
					</dl>
				</div>
				<a class="product-card__button button button--color_basic" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy SLIM 500 г</h3>
				<div class="product-card__image-wrapper product-card__image-wrapper--small">
					{% include "./templates/picture.twig" with {name: "products/slim-rice500", class: "product-card__image", alt: "Упаковка корма Cat Energy в фиолетовых оттенках со вкусом риса."} %}
				</div>
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<div class="characteristic-list__description">
							<dt>Масса</dt>
							<dd>500 г</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Вкус</dt>
							<dd>Рис</dd>
						</div>
						<div class="characteristic-list__description">
							<dt>Цена</dt>
							<dd>500 ₽</dd>
						</div>
					</dl>
				</div>
				<a class="product-card__button button button--color_basic" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card product-card--more">
				<div class="product-card__text-wrapper">
					<h3 class="product-card__title product-card__title--more">Показать еще 100500 товаров</h3>
					<div class="product-card__description">На самом деле вкусов гораздо больше!</div>
				</div>
				<a class="product-card__button product-card__button--more button button--color_gray" href="#">показать все</a>
			</li>
		</ul>
	</section>
	<section class="additional-product page__leveler">
		<h2 class="additional-product__title heading heading--lvl_2 heading--decor">
			<span class="heading__wrapper">Дополнительные товары</span>
		</h2>
		<ul class="additional-product__list">
			<li class="additional-product__item additional-product-card">
				<h3 class="additional-product-card__title">Сахарозаменитель</h3>
				<div class="additional-product-card__description">
					<span class="additional-product-card__quantity">1 упаковка (100 г)</span>
					<span class="additional-product-card__price">200 ₽</span>
				</div>
				<a class="additional-product-card__button button button--color_basic" href="#">заказать</a>
			</li>
			<li class="additional-product__item additional-product-card">
				<h3 class="additional-product-card__title">питьевая вода</h3>
				<div class="additional-product-card__description">
					<span class="additional-product-card__quantity additional-product-card__quantity--position">5 литров</span>
					<span class="additional-product-card__price">50 ₽</span>
				</div>
				<a class="additional-product-card__button button button--color_basic" href="#">заказать</a>
			</li>
			<li class="additional-product__item additional-product-card">
				<h3 class="additional-product-card__title">молоко</h3>
				<div class="additional-product-card__description">
					<span class="additional-product-card__quantity">1 литр</span>
					<span class="additional-product-card__price">100 ₽</span>
				</div>
				<a class="additional-product-card__button button button--color_basic" href="#">заказать</a>
			</li>
			<li class="additional-product__item additional-product-card additional-product-card--decor_line">
				<h3 class="additional-product-card__title">витамины</h3>
				<div class="additional-product-card__description">
					<span class="additional-product-card__quantity">1 упаковка (30 г)</span>
					<span class="additional-product-card__price">300 ₽</span>
				</div>
				<a class="additional-product-card__button button button--color_basic" href="#">заказать</a>
			</li>
		</ul>
		<aside class="promo">
			<div class="promo__description">
				<div>Закажите все<br>и получите чехол для<br>кота в подарок!</div>
			</div>
		</aside>
	</section>
</main>
{% endblock %}
