{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="catalog-container">
	<section class="catalog">
		<h1 class="catalog__title">Каталог продукции</h1>
		<ul class="catalog__list">
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy PRO 500 г</h3>
				<img class="product-card__image" src="https://placekitten.com/480/360" width="50" height="50" alt="Упаковка корма Cat Energy в орнажевых оттенках со вкусом курицы.">
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<dt class="characteristic-list__title">Масса</dt>
						<dd class="characteristic-list__description">500 г</dd>
						<dt class="characteristic-list__title">Вкус</dt>
						<dd class="characteristic-list__description">Курица</dd>
						<dt class="characteristic-list__title">Цена</dt>
						<dd class="characteristic-list__description">700 ₽</dd>
					</dl>
				</div>
				<a class="product-card__button" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy PRO 1000 г</h3>
				<img class="product-card__image" src="https://placekitten.com/480/360" width="50" height="50" alt="Большая упаковка корма Cat Energy в орнажевых оттенках со вкусом курицы.">
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<dt class="characteristic-list__title">Масса</dt>
						<dd class="characteristic-list__description">1000 г</dd>
						<dt class="characteristic-list__title">Вкус</dt>
						<dd class="characteristic-list__description">Курица</dd>
						<dt class="characteristic-list__title">Цена</dt>
						<dd class="characteristic-list__description">1000 ₽</dd>
					</dl>
				</div>
				<a class="product-card__button" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy PRO 500 г</h3>
				<img class="product-card__image" src="https://placekitten.com/480/360" width="50" height="50" alt="Упаковка корма Cat Energy  в зеленых оттенках со вкусом рыбы.">
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<dt class="characteristic-list__title">Масса</dt>
						<dd class="characteristic-list__description">500 г</dd>
						<dt class="characteristic-list__title">Вкус</dt>
						<dd class="characteristic-list__description">Рыба</dd>
						<dt class="characteristic-list__title">Цена</dt>
						<dd class="characteristic-list__description">700 ₽</dd>
					</dl>
				</div>
				<a class="product-card__button" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy PRO 1000 г</h3>
				<img class="product-card__image" src="https://placekitten.com/480/360" width="50" height="50" alt="Большая упаковка корма Cat Energy в зеленых оттенках  со вкусом рыбы.">
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<dt class="characteristic-list__title">Масса</dt>
						<dd class="characteristic-list__description">1000 г</dd>
						<dt class="characteristic-list__title">Вкус</dt>
						<dd class="characteristic-list__description">Рыба</dd>
						<dt class="characteristic-list__title">Цена</dt>
						<dd class="characteristic-list__description">1000 ₽</dd>
					</dl>
				</div>
				<a class="product-card__button" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy SLIM 500 г</h3>
				<img class="product-card__image" src="https://placekitten.com/480/360" width="50" height="50" alt="Упаковка корма Cat Energy со вкусом гречки в голубых оттенках.">
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<dt class="characteristic-list__title">Масса</dt>
						<dd class="characteristic-list__description">500 г</dd>
						<dt class="characteristic-list__title">Вкус</dt>
						<dd class="characteristic-list__description">Гречка</dd>
						<dt class="characteristic-list__title">Цена</dt>
						<dd class="characteristic-list__description">400 ₽</dd>
					</dl>
				</div>
				<a class="product-card__button" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy SLIM 1000 г</h3>
				<img class="product-card__image" src="https://placekitten.com/480/360" width="50" height="50" alt="Большая упаковка корма Cat Energy  в голубых оттенках со вкусом гречки.">
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<dt class="characteristic-list__title">Масса</dt>
						<dd class="characteristic-list__description">1000 г</dd>
						<dt class="characteristic-list__title">Вкус</dt>
						<dd class="characteristic-list__description">Гречка</dd>
						<dt class="characteristic-list__title">Цена</dt>
						<dd class="characteristic-list__description">700 ₽</dd>
					</dl>
				</div>
				<a class="product-card__button" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Cat Energy SLIM 500 г</h3>
				<img class="product-card__image" src="https://placekitten.com/480/360" width="50" height="50" alt="Упаковка корма Cat Energy  в фиолетовых оттенках со вкусом риса.">
				<div class="product-card__characteristic-wrapper">
					<dl class="product-card__characteristic characteristic-list">
						<dt class="characteristic-list__title">Масса</dt>
						<dd class="characteristic-list__description">500 г</dd>
						<dt class="characteristic-list__title">Вкус</dt>
						<dd class="characteristic-list__description">Рис</dd>
						<dt class="characteristic-list__title">Цена</dt>
						<dd class="characteristic-list__description">500 ₽</dd>
					</dl>
				</div>
				<a class="product-card__button" href="#">заказать</a>
			</li>
			<li class="catalog__item product-card">
				<h3 class="product-card__title">Показать еще 100500 товаров</h3>
				<span class="product-card__description">На самом деле вкусов гораздо больше!</span>
				<a class="product-card__button" href="#">показать все</a>
			</li>
		</ul>
	</section>
	<section class="additional-product">
		<h2 class="additional-product__title">
			Дополнительные товары
		</h2>
		<ul class="additional-product__list">
			<li class="additional-product__item additional-product-card">
				<h3 class="additional-product-card__title">Сахарозаменитель</h3>
				<span class="additional-product-card__description">1 упаковка (100 г)</span>
				<span class="additional-product-card__description">200 ₽</span>
				<a class="additional-product-card__button" href="#">заказать</a>
			</li>
			<li class="additional-product__item additional-product-card">
				<h3 class="additional-product-card__title">питьевая вода</h3>
				<span class="additional-product-card__description">5 литров</span>
				<span class="additional-product-card__description">50 ₽</span>
				<a class="additional-product-card__button" href="#">заказать</a>
			</li>
			<li class="additional-product__item additional-product-card">
				<h3 class="additional-product-card__title">молоко</h3>
				<span class="additional-product-card__description">1 литр</span>
				<span class="additional-product-card__description">100 ₽</span>
				<a class="additional-product-card__button" href="#">заказать</a>>
			</li>
			<li class="additional-product__item additional-product-card">
				<h3 class="additional-product-card__title">витамины</h3>
				<span class="additional-product-card__description">1 упаковка (300 г)</span>
				<span class="additional-product-card__description">300 ₽</span>
				<a class="additional-product-card__button" href="#">заказать</a>
			</li>
		</ul>
	</section>
	<aside class="promo">
		<div class="promo__description">
			<p>Закажите все и получите чехол для кота в подарок!</p>
		</div>
	</aside>
</main>
{% endblock %}
