{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="form-container">
	<section class="questionnaire">
		<h1 class="questionnaire__title">Подбор программы</h1>
		<p>Заполните анкету, и мы подберем программу питания для вашего кота</p>
		<form class="questionnaire__form form" action="https://echo.htmlacademy.ru/" method="post">
			<div class="form__container">
			<fieldset class="form__info form__group info-form ">
				<legend class="visually-hidden">Информация о вашем коте</legend>
				<label class="info-form__text" for="name-field">Имя:<span aria-hidden="true">*</span></label>
				<input class="info-form__field" id="name-field" type="text" value="Барсик" placeholder="Имя кота" required>
				<label class="info-form__text" for="weight-field">Вес (кг):<span aria-hidden="true">*</span></label>
				<input class="info-form__field" id="weight-field" type="number" value="7" placeholder="Вес кота" required>
				<label class="info-form__text" for="age-field">Возраст (лет):</label>
				<input class="info-form__field" id="age-field" type="number" value="7" placeholder="Возраст кота">
			</fieldset>
			<fieldset class="form__diet diet-form">
				<legend class="visually-hidden">Желаемый результат</legend>
				<ul class="diet-form__list">
					<li class="diet-form__item">
						<input class="diet-form__control" type="radio" id="radio-slim" name="diet" value="slim" checked>
						<label class="diet-form__text" for="radio-slim">похудение</label>
					</li>
					<li class="diet-form__item">
						<input class="diet-form__control" type="radio" id="radio-pro" name="diet" value="pro">
						<label class="diet-form__text" for="radio-pro">Набор массы</label>
					</li>
					<li class="diet-form__item">
						<input class="diet-form__control" type="radio" id="radio-uncertainly" name="diet" value="uncertainly">
						<label class="diet-form__text" for="radio-uncertainly">Не знаю (Нужен ваш совет)</label>
					</li>
				</ul>
			</fieldset>
		</div>
			<fieldset class="form__contacts contacts-form">
				<legend class="contacts-form__title">Контактные данные (владельца кота)</legend>
				<label class="contacts-form__text" for="email-field">E-mail:<span aria-hidden="true">*</span></label>
				<span class="input-icon"></span>
				<input class="contacts-form__field" id="email-field" type="email" placeholder="Введите e-mail" value="kuklachev@gmail.com" required>
				<label class="contacts-form__text" for="phone-field">Телефон:<span aria-hidden="true">*</span></label>
				<span class="input-icon"></span>
				<input class="contacts-form__field" id="phone-field" type="tel" placeholder="Введите телефон" value="8 (960) 900-60-90" required>
			</fieldset>
			<div class="form__comment form-comment">
				<label class="form-comment__title" for="field-comment">Комментарий</label>
				<textarea class="form-comment__field" name="comment" id="field-comment" placeholder="Расскажите обо всех повадках кота"></textarea>
			</div>
			<fieldset class="form__additions additions-form">
				<legend class="additions-form__title">Дополнительно</legend>
				<ul class="additions-form__list">
					<li class="additions-form__item">
						<input class="additions-form__control" type="checkbox" id="additions-sweetener" name="additions" value="sweetener" checked>
						<label class="additions-form__text" for="additions-sweetener">сахарозаменитель</label>
					</li>
					<li class="additions-form__item">
						<input class="additions-form__control" id="additions-water" type="checkbox" name="additions" value="water">
						<label class="additions-form__text" for="additions-water">питьевая вода</label>
					</li>
					<li class="additions-form__item">
						<input class="additions-form__control" id="additions-milk" type="checkbox" name="additions" value="milk">
						<label class="additions-form__text" for="additions-milk">молоко</label>
					</li>
					<li class="additions-form__item">
						<input class="additions-form__control" id="additions-vitamins" type="checkbox" name="additions" value="vitamins">
						<label class="additions-form__text" for="additions-vitamins">витамины</label>
					</li>
				</ul>
			</fieldset>
			<button class="questionnaire__submit button" type="submit">отправить заявку</button>
			<span class="questionnaire__footnote" aria-hidden="true">* — Обязательные поля</span>
		</form>
	</section>
</main>
{% endblock %}
