{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<div class="hero">
		<h1 class="hero__title">Функциональное питание для котов</h1>
		<div class="hero__slogan">
			<p>Занялся собой? Займись котом!</p>
		</div>
		{% include "./templates/picture.twig" with {name: "hero-product", class: "hero__product", alt: "Внешний вид упаковки корма."} %}
		<a class="hero__button" href="form.html">подобрать программу</a>
	</div>
	<section class="nutrition-programs">
		<h2 class="visually-hidden">Программы питания</h2>
		<div class="nutrition-programs__slim">
			<h3 class="nutrition-programs__title">похудение</h3>
			Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
			<a class="nutrition-programs__link" href="catalog.html">каталог slim</a>
		</div>
		<div class="nutrition-programs__weight">
			<h3 class="nutrition-programs__title">Набор массы</h3>
			Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
			<a class="nutrition-programs__link" href="catalog.html">каталог pro</a>
		</div>
	</section>
	<section class="features">
		<h2 class="features__title">Как это работает</h2>
		<ol class="features__list">
			<li class="features__item">
				Функциональное питание содержит только полезные питательные вещества.
			</li>
			<li class="features__item">
				Выпускается в виде порошка, который нужно лишь залить кипятком и готово.
			</li>
			<li class="features__item">
				Замените один-два приема обычной еды на наше функциональное питание.
			</li>
			<li class="features__item">
				Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!
			</li>
		</ol>
	</section>
	<section class="example">
		<h2 class="example__title">Живой пример</h2>
		<p>Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.</p>
		<dl class="example__stats">
			<div class="example__weight">
				<dt>снижение веса</dt>
				<dd>5 КГ</dd>
			</div>
			<div class="example__time">
				<dt>затрачено времени</dt>
				<dd>60 ДНЕЙ</dd>
			</div>
			<div class="example__expenses">
				<dt>Затраты на питание:</dt>
				<dd> 15 000 РУБ.</dd>
			</div>
		</dl>
		<div class="example__slider slider">
			<ul class="slider__list">
				<li class="slider__item">
					{% include "./templates/picture.twig" with {name: "slider-before", class: "slider__image", alt: "Кот Борис до похудения."} %}
				</li>
				<li class="slider__item">
					{% include "./templates/picture.twig" with {name: "slider-after", class: "slider__image", alt: "Кот Борис после похудения."} %}
				</li>
			</ul>
			<button class="slider__toggle" type="button"></button>
		</div>
	</section>
</main>
{% endblock %}
